<!DOCTYPE html>
<html>
<head>
	<title>Yumashin</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<body>


	<div class="header">
	<ul class="header-menus">
		<li><img src="assets/yumashin_logo.png" class="header-logo"></li>
		<li>
		<%= link_to("Top","/",class:"header-link")  %>
		</li>
		<li>
		<%= link_to("About","about",class:"header-link") %>
		</li>
		<li>
		<%= link_to("Works","works",class:"header-link") %>
		</li>
		<li>
		<%= link_to("Contact","https://thebase.in/inquiry/yumashin",class:"header-link",:target=>["_blank"]) %>
		</li>
	</ul>
    </div>

	<footer>
		<ul class="footer-menus">
		<li>
		<%= link_to("Top","/",class:"footer-link")  %>
		</li>
		<li>|</li>
		<li>
		<%= link_to("About","about",class:"footer-link") %>
		</li>
		<li>|</li>
		<li>
		<%= link_to("Works","works",class:"footer-link") %>
		</li>
		<li>|</li>
		<li>
		<%= link_to("Contact","https://thebase.in/inquiry/yumashin",class:"footer-link",:target=>["_blank"]) %>
		</li>
	</ul>
		<p class="copy-right">Copyright(c)2018 yumashin.net All Rights Reserved</p>
	</footer>
	<%= yield %>

</body>
</html>
